footer
  background-color: var(--footerColor)
  padding-top: 30px
  .footer-card
    padding: 0 10px

.contant_card p
  padding: 10px 0px
.copyright
  padding-top: 50px
.copyright p
  font-size: 18px
  text-align: center
  padding: 20px 0px
  border-top: 2px solid var(--white)

