.black-bg
  display: none
  position: fixed
  width: 100vw
  height: 100vh
  z-index: 10000
  background-color: rgba(0, 0, 0, 0.5)
nav
  background-color: var(--navbarColor)
  display: flex
  justify-content: space-between
  align-items: center
  padding: 20px 0px
  width: 100%
  position: fixed
  z-index: 1000
  margin-bottom: 100px
.navbar
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  .navResIcon
    display: none
    i
      font-size: 25px
      z-index: 1000
  a
    text-decoration: none
    font-size: 18px
    color: var(--white)
    transition: 0.5s
    padding: 0px 15px
    &:hover
      color: var(--orange)
  select
    background: transparent
    font-size: 18px
    border: none
    outline: none
    padding: 0px 15px
    transition: 0.5s
    &:hover
      color: var(--orange)
    option
      background-color: var(--navbarColor)

// navbar responsive
.navbar-responsive
  position: fixed
  top: 0
  right: -200%
  z-index: 10000
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 400px
  height: 100vh
  background-color: var(--background)
  transition: 0.5s
  .nav
    width: 100%
    height: 50%
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 20px
    i
      font-size: 30px
      color: var(--orange)      
    a
      text-decoration: none
      font-size: 18px
      color: var(--white)
      transition: 0.5s
      padding: 0px 15px
      &:hover
        color: var(--orange)
    select
      background: transparent
      font-size: 18px
      border: none
      outline: none
      padding: 0px 15px
      transition: 0.5s
      &:hover
        color: var(--orange)
      option
        background-color: var(--navbarColor)
         
